<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacto</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <h1>Contacto</h1>
    </header>
    <div class="button-separator"></div>
    <center>
        <h2>Redes Sociales</h2>
    </center>
    <section class="contact-container">
    <center>
        <div class="social-links">
            <div class="social-link">
                <a href="https://www.linkedin.com/in/dani-caceres/" target="_blank">
                    <img src="static/linkedin.png" alt="LinkedIn">
                </a>
            </div>
        </div>
        <div class="social-links">
            <div class="social-linkb">
                <a href="https://github.com/DCaceres2018" target="_blank">
                    <img src="static/github.png" alt="GitHub">
                </a>
            </div>
        </div>
    </center>
        <div class="return-button">
            <a href="index" class="button">Volver</a>
        </div>
    </section>

    <footer>
        <p>&copy; 2023 Tu Web de Idiomas</p>
    </footer>
</body>
</html>